
/* ========== RESET ========== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

label, input, textarea, select {
  font: inherit;
  display: block;
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, li {
  list-style: none;
}

button {
  font: inherit;
  display: block;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ========== VARIABLES ========== */

:root {
  --font-main: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  --text-100: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
  --text-200: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
  --text-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --text-400: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --text-500: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
  --text-600: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --text-700: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --text-800: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);

  --color-red-050: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;
  
  --color-grey-050: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;
  --color-grey-950: #030712;
}

/* ========== BASE ==========  */

body {
  font-family: var(--font-main);
  font-size: var(--text-300);
  color: var(--color-grey-800);
  line-height: 1;
  letter-spacing: .15rem;
}

a {
  color: var(--color-red-500);
}

input, select, textarea {
  border: 1px solid var(--color-grey-400);
  padding: .5rem;
}

label + input {
  margin-top: .5rem;
}

button {
  background-color: var(--color-grey-200);
  border: 1px solid var(--color-grey-400);
  width: 100%;
  padding: .5rem;
  color: inherit;
  transition: background-color 200ms ease;
}

button:hover {
  background-color: var(--color-grey-300);
}

/* ========== TEXT ========== */

.text-100 {
  font-size: var(--text-100);
}
.text-200 {
  font-size: var(--text-200);
}
.text-300, h6, p {
  font-size: var(--text-300);
}
.text-400, h5 {
  font-size: var(--text-400);
}
.text-500, h4 {
  font-size: var(--text-500);
}
.text-600, h3 {
  font-size: var(--text-600);
}
.text-700, h2 {
  font-size: var(--text-700);
}
.text-800, h1 {
  font-size: var(--text-800);
}

.bold {
  font-weight: bold;
}

/* ========== LAYOUT ========== */

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr;
}

/* ----- header ----- */

#header {
  background-color: var(--color-grey-900);
  border-bottom: 8px solid var(--color-red-700);
  color: var(--color-red-600);
  font-weight: bold;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#header a, 
#header button {
  display: block;

  width: auto;
  
  font-size: var(--text-500);
  text-decoration: none;
  text-align: center;
  
  background-color: transparent;
  padding: .5rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 100%;
  transition: 
    background-color 200ms ease,
    color 200ms ease;
}

#header a:hover, 
#header button:hover {
  background-color: var(--color-red-950);
  color: var(--color-red-400);
}

/* ----- navigation ----- */

#navigation {
  border-bottom: 4px solid var(--color-red-600);
}

#navigation a {
  display: block;
  
  background-color: var(--color-red-300);
  color: var(--color-red-800);
  
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  transition: 
    background-color 250ms ease;
}

#navigation a:hover {
  background-color: var(--color-red-400);
}

#navigation li + li {
  /* border-top: 2px solid var(--color-red-300); */
}

/* ----- main ----- */

main {
  padding: 1rem;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}

/* ========== PAGES ========== */

/* ----- Puerta ----- */

.puerta-results > * + * button {
  border-top: none;
}

.puerta-actions {
  display: flex;
  flex-direction: column;
}

.puerta-actions > * + * {
  border-top: none;
}

/* ========== COMPONENTS ========== */

/* ========== UTILITIES ========== */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: start;
}

.no-decoration {
  text-decoration: none;
}

.inline-block {
  display: inline-block;
}

.stack > * + * {
  margin-top: 1rem;
}