/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

label, input, textarea, select {
  font: inherit;
  display: block;
  /* width: 100%; */
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, li {
  list-style: none;
}

a, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

dialog {
  margin: auto !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* VARIABLES */

:root {
  color-scheme: dark;

  --font-main: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  --space-100: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
  --space-200: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-300: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-400: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-500: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-600: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
  --space-700: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-800: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
  --space-900: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);
  
  --text-100: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
  --text-200: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
  --text-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --text-400: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --text-500: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
  --text-600: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --text-700: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --text-800: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);

  --color-red-050: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;
  
  --color-grey-050: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;
  --color-grey-950: #030712;
}

/* BASE */

body {
  font-family: var(--font-main);
  font-size: var(--text-300);
  /* color: var(--color-grey-800); */
  line-height: 1.2;
  letter-spacing: .20rem; 
}

a, .link {
  background-color: transparent;
  text-decoration: underline;
  border: none;
}

button, .button {
  font-size: 16px;
  letter-spacing: .15rem;
  /* background-color: var(--color-grey-200); */
  border: 2px solid var(--color-grey-400);
  padding: .5em .75em;
  /* color: var(--color-grey-800); */
  text-decoration: none;
  text-transform: uppercase;
}

input, select, textarea {
  width: 100%;
  border: 2px solid var(--color-grey-400);
  padding: var(--space-100);
}


dialog {
  padding: var(--space-300);
  border: 2px solid var(--color-grey-400);
}

dialog > * + * {
  margin-top: var(--space-400);
}


form > * + * {
  margin-top: var(--space-200);
}

form > label + input {
  margin-top: var(--space-100);
}

form button {
  width: 100%;
}

/* LAYOUT */

body {
  /* position: relative; */
}

#header {
  padding: var(--space-400);
  border-bottom: 2px solid var(--color-grey-400);
}

#navigation {
  font-size: var(--text-300);
  border-bottom: 2px solid var(--color-grey-400);
}

#navigation li + li {
  border-top: 2px solid var(--color-grey-400);
}

#navigation a {
  text-decoration: none;
  display: block;
  padding: var(--space-400);
}

#notifications {
  position: fixed;
  max-width: 60ch;
  padding: 1rem;
  right: 0;
  bottom: 0;
}

.notification {
  padding: 1rem;
  background-color: black;
  color: white;
  border: 1px solid white;
  font-size: var(--text-200);
  transition: opacity 100ms;
  width: max-content;
  margin-left: auto;
}

main {
  max-width: 60ch;
  margin-inline: auto;
  padding: var(--space-400);
}

main > * + * {
  margin-top: var(--space-400);
}

dialog {
  padding: var(--space-400);
}

/* components */

.actions {
  display: flex;
  gap: var(--space-200);
}

.actions > * {
  flex-basis: 0;
  flex-grow: 1;
}

.article {
  width: max-content;
  margin-inline: auto;
}

/* utilities */

.p-100 { padding: var(--space-100);}
.p-200 { padding: var(--space-200);}
.p-300 { padding: var(--space-300);}
.p-400 { padding: var(--space-400);}
.p-500 { padding: var(--space-500);}
.p-600 { padding: var(--space-600);}
.p-700 { padding: var(--space-700);}
.p-800 { padding: var(--space-800);}
.p-900 { padding: var(--space-900);}

.stack-100 > * + * { margin-top: var(--space-100);}
.stack-200 > * + * { margin-top: var(--space-200);}
.stack-300 > * + * { margin-top: var(--space-300);}
.stack-400 > * + * { margin-top: var(--space-400);}
.stack-500 > * + * { margin-top: var(--space-500);}
.stack-600 > * + * { margin-top: var(--space-600);}
.stack-700 > * + * { margin-top: var(--space-700);}
.stack-800 > * + * { margin-top: var(--space-800);}
.stack-900 > * + * { margin-top: var(--space-900);}

.text-100 { font-size: var(--text-100); font-weight: normal; }
.text-200 { font-size: var(--text-200); font-weight: normal; }
.text-300, h6 { font-size: var(--text-300); font-weight: normal; }
.text-400, h5 { font-size: var(--text-400); }
.text-500, h4 { font-size: var(--text-500); }
.text-600, h3 { font-size: var(--text-600); }
.text-700, h2 { font-size: var(--text-700); }
.text-800, h1 { text-align: center; font-size: var(--text-800); }

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-200);
}

.square { 
  aspect-ratio: 1; 
}

.full-width { 
  width: 100% 
}

.capitalize {
  text-transform: capitalize;
}

* {
  /* outline: 1px solid red; */
}